body{
    font-family: arial, sans-serif;
    background: #fff;
    color: #222;
}


/* Nav style */

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align:right;
}

li {
    color: #666;
    display:inline-block;
}

.navbar ul{
    padding: 0px 30px;
}

.navbar li{
    padding-left: 15px;
}

/** Logo style **/

.logo {
    display: block;
    text-align: -webkit-center;
    padding-top: 109px;
}

#hplogo {
    height: 92px;
    width: 272px;
}


/* search bar style*/

.search {
    text-align: -webkit-center;
}


/* button style*/

.buttons {
    text-align: -webkit-center;
    padding-top: 18px;
}


/* Footer style */

footer {
    height: 41px;
    font-size: small;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    width: 100%;
    background-color: #f2f2f2;
}

#lfoot {
    float: left;
    margin-left: -27px;
}

#rfoot {
    float: right;
    padding-right: 30px;
}

#lfoot, #rfoot {
    color: #666;
}

footer li {
    padding-left: 27px;
}